# Build directories
build/
**/cmake-build-*/

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

dev/

# Test directories
tests/
docs/out

# Documentation
Doxyfile

# Development tools
tools/
.clang-format
.clang-format-ignore

# Non-server components
IDHANClient/
IDHANWebUI/
HydrusImporter/

# Misc
*.md
publish.sh
docs.sh
push-nas.sh