# Build directories
build/
**/cmake-build-*/

# LLM Garbage
.junie
.opencode

3rd-party/web.sh
3rd-party/hyui.sh
3rd-party/hydrus-web
3rd-party/hydrui

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

dev/

# Test directories
tests/
docs/out

# Documentation
Doxyfile

# Development tools
tools/
.clang-format
.clang-format-ignore

# Non-server components
IDHANClient/
HydrusImporter/

# Misc
*.md
publish.sh
docs.sh
push-nas.sh