[submodule "3rd-party/hydrus-web"]
	path = 3rd-party/hydrus-web
	url = https://github.com/floogulinc/hydrus-web.git
[submodule "3rd-party/hydrus"]
	path = 3rd-party/hydrus
	url = https://github.com/hydrusnetwork/hydrus.git
[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "dependencies/libFGL"]
	path = dependencies/libFGL
	url = https://git.futuregadgetlabs.net/KJ16609/libFGL.git
[submodule "3rd-party/hydrui"]
	path = 3rd-party/hydrui
	url = https://github.com/hydrui/hydrui.git
[submodule "dependencies/chardet"]
	path = dependencies/chardet
	url = https://github.com/Joungkyun/libchardet.git
[submodule "dependencies/drogon"]
	path = dependencies/drogon
	url = https://github.com/drogonframework/drogon.git
[submodule "dependencies/quickjs"]
	path = dependencies/quickjs
	url = https://github.com/bellard/quickjs.git
[submodule "dependencies/ada"]
	path = dependencies/ada
	url = https://github.com/ada-url/ada.git
[submodule "dependencies/lexbor"]
	path = dependencies/lexbor
	url = https://github.com/lexbor/lexbor.git
