####	Dot-Hidden Files & Directories
.*

####	Misc.
/cmake-build-debug/
/IDHAN
/Makefile
/CMakeCache.txt
/cmake_install.cmake
/CMakeFiles/
/Testing
config.json

#### Conan
*.lock
.cmake
conaninfo.txt
graph_info.json
conanbuildinfo.cmake
conanbuildinfo.txt
*.dot
graph.png

#### Cmake
*.cmake
*.tcl


###images
/bin/apiTest
/bin/DBTest
/bin/IDHAN
/bin/main
/bin/Testing/Temporary/LastTest.log
/bin/Testing/Temporary/CTestCostData.txt
