# dot hidden
.*
.*/

# explicit
*.ignore

# Build dirs
/build/
/cmake-build-*/

# Build helpers
build.bat

# IDE specific
#	# clion
/venv/
#	# Visual Studio
/out/build/x64-Debug
/CMakeFiles
/CMakeCache.txt
*.user
*.autosave
#	#Visual Studio Indexes
*.vsidx
read.lock
#	# Visual Studio profiler
*.psess
*.vsp
*.vspx

/docs/out

/IDHAN/include/hydrus_constants_gen.hpp
/IDHAN/include/hydrus_client_constants_gen.hpp

# Used for allowing easy setup of development environments for testing
/IDHANServer/src/db/setup/migration/9999-dev.sql